@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    width: 100vw;
}

form {
    width: min-content;
    margin: 0 auto;
}

input {
    width: 200px;
    background-color: rgba(255,255,255,1);
    border: #ffffff;
    border-radius: 5px;

    text-align: center;
    margin-bottom: 1vh;
    padding: 1vw 1vh;
    
}

input::placeholder {
    color: #000000;
    text-align: center;
}

button {
    width: max-content;
    margin: auto;
    margin-bottom: 1vh;
    display: block;

    color: #000000;
    
}

.hidden {
    display: none;
}

#clock {
    color: #ffffff;
    font-size: 10vh;
    font-weight: 400;

    width: min-content;
    margin: 4vh 0 3vh 3vw;
}

#quotes {
    color: #ffffff;
    margin: 0;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
}

#qmarkBox { 
    display: flex; 
    flex-direction: column; 
    width: max-content;
}
#quote {
    font-size: 3vh;
    font-weight: 300;
    width: 94vw;
    /* padding-right: 2vw; */
    word-break:break-all;
}
#author {
    color: rgba(255,255,255,0.7);
    font-size: 2.5vh;
    font-weight: 100;
    width: max-content;
    margin-top: 1vh;
}
#qmark {
    margin-left: auto;
}

#bgimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}